/* Tag styles */
body{
    /* background-color: #999999; */
    background-color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    display: block;
    text-align: left;

}

hr{
    border: 5px solid red;
}

h1{
    color: orangered;
    text-align: left;
}
h3{
    color:orangered;
}

table{
    font-size: 10pt;
    border-style: solid;
    border-width: 3px 0px 0px 3px;
    border-color: orangered;

}
th{
    color: black;
    padding-left: 3px;
}
textarea{
    width: 100%;
}

/* Class styles */
.content {
    max-width: 90%;
    margin: auto;
    display: block;
    /* background-color: yellow; */
  }

.mainContent {
    border-top: solid 3px orangered;
    border-left: solid 3px orangered;
    margin-top: 25px;
    padding: 15px 0px 15px 15px;
  }

.header {
    /* display: block;*/
    text-align: center;
    /* border-bottom: solid 3px rgb(255,69,0); */
    padding: 0px 25px 0px 0px;
}

.italic{
    font-style: italic;
}

.textLeft {
    text-align: right;
}

.siteName {
    color: orangered;
    font-style: italic;
}
.mainMenu {
    display: block;
    /* width: 50%; */
    text-align: center;
    /* background-color: pink; */
    color: orangered;
}
    .mainMenu a  {
        color: black;
        /* background-color: orangered; */
        border-bottom: solid 1px rgb(255,69,0);
		text-decoration: none;
		color: orangered;
    }
        .mainMenu a:hover {
            border-bottom-color: grey;
            color: grey;
        }

.classTableHeader{
    background-color:orangered;
    /* text-align: left; */
}
.classTableRow{
    color: orangered;
}
    .classTableRow:nth-child(odd) {
        background: grey;
        color: black;
    }

.Hide {
    display: none;
}

.Show {
    display: block;
}

.Form, .subContent {
    font-size: 10pt;
    border-style: solid;
    border-width: 3px 0px 0px 3px;
    margin: 15px 15px 0px 0px;
    padding: 0px 0px 15px 15px;
    border-color: orangered;

}

.FormLabel, label {
    display: inline-block;
    width: 200px;
    text-align: left;
    /* background-color: blue; */
}
.inputError{
    color: red;
    font-style: italic;
}
.FormInput{
    margin-top: 1%;
    margin-bottom: 1%;
    /* background-color: yellow; */
}
.SubmitButton {
    text-align: left;
    margin-top: 2%;
    margin-bottom: 2%;
}


/* Id styles */
#LandingPic {

    width: 30%;
    float: left;
    /* background-color: green; */
}
#LandingText {

    width: 68%;
    float: right;
    /* background-color: pink; */
    padding: 0%;
    margin-left: 1%;
    margin-right: 1%;
}

#validEmailText {
    text-align: right;
    color: red;
    font-weight: bold;
}

#showForm, #hideForm{
    color: orangered;
    text-decoration: underline;
}
    #showForm:hover, #hideForm:hover {
        color: grey;
        text-decoration: underline;
    }

    #hideForm {
        text-align: right;

    }